<!--
    SPDX-FileCopyrightText: 2024 Alec Delaney
    SPDX-License-Identifier: MIT
-->

{% extends "layout/_layout.html" %}

{% block title %}Tekktrik Development{% endblock %}

{% block content %}
<div class="m-2 text-center">
    <h1 class="display-3">Hello, world!</h1>
    <div class="col-md-6 mx-auto">
        <p class="lead">
            I'm Alec Delaney! (@tekktrik)
        </p>
    </div>
    <div>
        <img src="static/img/ragnar_hero.jpg" class="img-fluid profile-image" />
    </div>
    <h5 class="h4"><a href="/about">More about me...</a></h5>
</div>
{% endblock %}
