<!--
    SPDX-FileCopyrightText: 2024 Alec Delaney
    SPDX-License-Identifier: MIT
-->

{% extends "layout/_layout.html" %}

{% block head %}<link rel="stylesheet" href="/static/css/animations.css">{% endblock %}

{% block title %}Tekktrik Development{% endblock %}

{% block content %}
<div class="m-2 text-center">
    <h1 class="display-3 fade-fly-in" style="--delay: 1.5s">Hello, world!</h1>
    <div class="col-md-6 mx-auto fade-fly-in" style="--delay: 2.5s">
        <p class="lead">
            I'm Alec Delaney (@tekktrik)
        </p>
    </div>
    <div class="fade-in" style="--duration: 1s">
        <img src="static/img/ragnar_hero.jpg" class="img-fluid profile-image landing-prof-img" style="--delay: 4s" />
    </div>
</div>
{% endblock %}
