<!--
    SPDX-FileCopyrightText: 2024 Alec Delaney
    SPDX-License-Identifier: MIT
-->

<!--
    SPDX-FileCopyrightText: 2024 Alec Delaney
    SPDX-License-Identifier: MIT
-->

{% extends "layout/_layout.html" %}

{% block head %}
<link rel="stylesheet" href="/static/css/badges.css">
<link rel="stylesheet" href="/static/css/animations.css">
{% endblock %}

{% block title %}Recent Activity{% endblock %}

{% block content %}
<p class="lead text-center">I've made {{ num_contributions }} contributions in the past {{ duration_days }} days!</p>
<p class="text-center">Here are some repositories I've contributed to within the last {{ diff_oldest }} years:</p>
<div class="container">
    {% for repo in repos %}
        {% if loop.index % 2 == 1 %}
        <div class="row m-2">
        {% endif %}
            <div class="col-md-6">
                <div class="card recent-load-in" style="--delay: {{ loop.index0 * 0.2 + 0.2}}s; height: 0; opacity: 0;">
                    <a href="{{ repo.url }}"><img src="/static/img/gh_cards/{{ current_datetime }}/card{{ loop.index0 }}.png" class="card-img-top"/></a>
                    <div class="card-body" style="background-color: white;">
                        {% if repo.languages.nodes|length == 0 %}
                            <span class="badge badge-other-language">Other</span>
                        {% endif %}
                        {% for language in repo.languages.nodes %}
                            <span class="badge badge-language badge-{{ language.name|replace('+', 'p')|lower }}">{{ language.name }}</span>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% if loop.index % 2 == 0 %}
        </div>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}
