<!--
    SPDX-FileCopyrightText: 2024 Alec Delaney
    SPDX-License-Identifier: MIT
-->


<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/">
            <img src="/static/img/logo_dark.svg" width="50" height="50">
            Tekktrik Dev
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#headerNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="headerNavbar">
            <ul class="nav navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Projects</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="/projects/portfolio">Portfolio Website</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/projects/menorah">CircuitPythonukiah</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/projects/cronberry">cronberry</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/projects/parallel64">Parallel64</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/recent">Recent</a>
                </li>
            </ul>
        </div>
        <div class="d-flex flex-row-reverse navbar-collapse">
            <a href="mailto:alec@tekktrik.dev">
                <i class="nav-icon d-none d-md-block bi-envelope-at-fill" style="font-size: 2rem; color: white;"></i>
            </a>
            <a href="https://linkedin.com/in/alec-delaney" target="_blank">
                <i class="nav-icon d-none d-md-block bi-linkedin" style="font-size: 2rem; color: white;"></i>
            </a>
            <a href="https://github.com/tekktrik" target="_blank">
                <i class="nav-icon d-none d-md-block bi-github" style="font-size: 2rem; color: white;"></i>
            </a>
        </div>
    </nav>
</header>
