<!--
    SPDX-FileCopyrightText: 2024 Alec Delaney
    SPDX-License-Identifier: MIT
-->

<!DOCTYPE html>
<html data-bs-theme="dark">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
        <link rel="stylesheet" href="/static/vendor/bootstrap-icons/bootstrap-icons.min.css">
        <link rel="stylesheet" href="/static/vendor/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/style.css">
        {% block head %}
        {% endblock %}
    </head>
    <body>
        {% include "layout/_header.html" %}
        <main class="container">
            {% block content %}
            {% endblock %}
        </main>
        {% include "layout/_footer.html" %}
        <script src="/static/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
