# SPDX-FileCopyrightText: 2023 Alec Delaney
# SPDX-License-Identifier: MIT

# Compiled files
__pycache__
*.pyc

# Virtual environment files
venv
.venv
.env
.cron

# Project specific files
flask_app/static/img/gh_cards/**/*.png
assets/contrib/recent_*.json
