# SPDX-FileCopyrightText: 2023 Alec Delaney
# SPDX-License-Identifier: MIT

bootstrap-flask~=2.4
flask~=3.0
flask-limiter[redis]~=3.5
flask-wtf~=1.2
gunicorn[eventlet]~=22.0
python-dateutil~=2.9
requests~=2.31
