# SPDX-FileCopyrightText: 2023 Alec Delaney
# SPDX-License-Identifier: MIT

flask~=3.0
flask-wtf~=1.2
bootstrap-flask~=2.3
flask-limiter[redis]~=3.5
gunicorn[eventlet]~=21.2
requests~=2.31
python-dateutil~=2.8
