# SPDX-FileCopyrightText: 2023 Alec Delaney
# SPDX-License-Identifier: MIT

bootstrap-flask~=2.4
flask~=3.1
flask-limiter[redis]~=3.11
flask-wtf~=1.2
gunicorn[eventlet]~=23.0
python-dateutil~=2.9
requests~=2.32
