<!--
    SPDX-FileCopyrightText: 2023 Alec Delaney
    SPDX-License-Identifier: MIT
-->

{% from 'bootstrap5/form.html' import render_form %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {{ bootstrap.load_css() }}
    </head>
    <body>
        <div class="container">
        <h1>Create Menorah Settings</h1>
        <p>
            Enter your zipcode to generate a settings file for your CircuitPythonukiah!
            Please note that your zipcode <b>is not stored or retained</b>, and is used only
            to fetch the correct candle lighting times.
        </p>
        <br/>
        {{ render_form(input_form) }}
        <br/>
        </div>
        {{ bootstrap.load_js() }}
    </body>
</html>
