/*
 * SPDX-FileCopyrightText: 2024 Alec Delaney
 * SPDX-License-Identifier: MIT
 */

@keyframes InitClear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}

@keyframes FadeFlyIn {
    0% {
        transform: translateY(-20%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 100;
    }
}

.fade-fly-in {
    animation:
        InitClear var(--delay, 0s) step-end 0s 1,
        FadeFlyIn var(--duration, 0.5s) ease-out calc(var(--delay, 0s)) 1;
}

.fade-in {
    animation:
        InitClear calc(var(--duration, 1s) + var(--delay, 0s)) ease-out var(--delay, 0s) 1;
}

@keyframes Reveal {
    0% {
        height: 0;
        opacity: 0;
    }

    100% {
        height: auto;
        opacity: 1;
    }
}

@keyframes RecentLoadIn {
    0% {
        transform: rotate(-15deg) scale(0.5);
    }

    100% {
        transform: rotate(0deg) scale(1);
    }
}

.recent-load-in {
    height: 0;
    opacity: 0;
    animation:
        InitClear var(--delay, 0s) step-end 0s,
        RecentLoadIn var(--duration, 0.5s) ease-out calc(var(--delay, 0s)),
        Reveal var(--delay, 0s) step-end 0s forwards;
    }

@keyframes LandingImageGlow {
    0% {
        box-shadow: 0 0 20px -20px rgb(51, 109, 169);
    }

    50% {
        box-shadow: 0 0 20px 5px rgb(51, 109, 169);
    }
}

.landing-prof-img {
    animation: LandingImageGlow 3s infinite var(--delay, 0s);
}
