/*
 * SPDX-FileCopyrightText: 2024 Alec Delaney
 * SPDX-License-Identifier: MIT
 */

.badge-language {
    background-color: lightskyblue;
}

.badge-python {
    background-color: rgb(52, 112, 162);
}

.badge-html {
    background-color: rgb(219, 73, 37);
}

.badge-css {
    background-color: rgb(82, 58, 118);
}

.badge-typescript {
    background-color: rgb(49, 120, 198);
}

.badge-javascript {
    background-color: rgb(241, 224, 90);
    color: black;
}

.badge-shell {
    background-color: rgb(137, 224, 81);
    color: black;
}

.badge-c {
    background-color: rgb(85, 85, 85);
}

.badge-cpp {
    background-color: tan;
}

.badge-makefile {
    background-color: rgb(66, 120, 25);
}

.badge-other-language {
    background-color: grey;
}
