/*
 * SPDX-FileCopyrightText: 2024 Alec Delaney
 * SPDX-License-Identifier: MIT
 */

html {
    position: relative;
    min-height: 100%;
}

.sticky-footer {
    position: absolute;
    bottom: 0;
    padding-top: 10px;
    width: 100%;
    color: white;
}

body > .container {
    padding: 100px 0;
}

.navbar-brand {
    margin-left: 10px;
    margin-right: 5px;
}

.nav-item {
    margin-left: 5px;
    margin-right: 5px;
}

.navbar-toggler, .nav-icon {
    margin-left: 5px;
    margin-right: 10px;
}

.profile-image {
    border-radius: 50px;
}

.badge-language {
    background-color: lightskyblue;
}

.badge-python {
    background-color: rgb(44, 44, 214);
}

.badge-html {
    background-color: orange;
}

.badge-css {
    background-color: yellowgreen;
}

.badge-typescript {
    background-color: blueviolet;
}

.badge-javascript {
    background-color: crimson;
}

.badge-shell {
    background-color: green;
}

.badge-c {
    background-color: deeppink;
}

.badge-cpp {
    background-color: tan;
}

.badge-other-language {
    background-color: grey;
}
