/*
 * SPDX-FileCopyrightText: 2024 Alec Delaney
 * SPDX-License-Identifier: MIT
 */

html {
    position: relative;
    min-height: 100%;
}

.sticky-footer {
    position: absolute;
    bottom: 0;
    padding-top: 10px;
    width: 100%;
    color: white;
}

body > .container {
    padding: 100px 0;
}

.navbar-brand {
    margin-left: 10px;
    margin-right: 5px;
}

.nav-item {
    margin-left: 5px;
    margin-right: 5px;
}

.navbar-toggler {
    margin-left: 5px;
    margin-right: 10px;
}
